<div class="container mt-4">
  
  <div class="text-center">
    <h1>バンドメンバー募集記事の作成</h1>
  </div>
  
  <div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @article, url: band_create_articles_path, local: true) do |f| %>
    
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :image, 'イメージ画像' %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :heading, '記事の見出し' %>
        <%= f.text_field :heading, class: 'form-control' %>
      </div>
      
      <div class="form-group border-bottom">
        <%= f.label :gender, '性別' %><br/>
        <%= f.radio_button :gender, '指定なし', checked: true %>
        <%= f.label :gender, '指定なし', value: '指定なし' %>
        <%= f.radio_button :gender, '男性' %>
        <%= f.label :gender, '男性', value: '男性' %>
        <%= f.radio_button :gender, '女性' %>
        <%= f.label :gender, '女性', value: '女性'%>
      </div>
      
      <div class="form-group border-bottom">
        <%= f.label :minimum_age, '募集年齢' %>
        <%= f.select :minimum_age, ['下限なし', '10代', '20代', '30代', '40代', '50代', '60代'], class: 'form-control' %>
        ~
        <%= f.select :maximum_age, ['20代', '30代', '40代', '50代', '60代', '上限なし'], class: 'form-control' %>
      </div>
      
      <div class="form-group border-bottom">
        <%= f.label :area, '活動エリア' %>
        <%= f.select :area, ['指定なし', '北海道'], class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :introduction, '自己紹介文' %>
        <%= f.text_area :introduction, class: 'form-control' %>
      </div>
      
      <%= f.submit '記事を投稿', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>

  
</div>