<div class="container mt-4">
  
  <div class="text-center">
    <h1>記事の作成</h1>
  </div>
  
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
  
      <%= form_with(model: @article, local: true) do |f| %>
      
        <%= render 'layouts/error_messages', model: f.object %>
        
       <!--イメージ画像-->
        
        <div class="form-group">
          <%= f.label :heading, '記事の見出し' %>
          <%= f.text_field :heading, class: 'form-control' %>
        </div>
        
        <!--募集性別-->
        
        <!--募集年齢(上限下限)-->
        
        <!--活動エリア-->
        
        <div class="form-group">
          <%= f.label :introduction, '自己紹介文' %>
          <%= f.text_area :introduction, class: 'form-control' %>
        </div>
        
        <%= f.submit '記事を投稿', class: 'btn btn-primary btn-block' %>
      <% end %>
      
    </div>
  </div>
  
</div>
