<div class="row">
  <div class="col-sm-8 offset-sm-2">
    
    <h2 class="text-center">記事の詳細</h2>
  
    <div class='text-center py-4'>
      <div>
        <% if @article.image? %>
        <%= image_tag @article.image.url, class: "rounded img-fluid mx-auto", width: '200px' %>
        <% end %>
      </div>
      <% unless current_user == @article.user %>
        <div class="mt-3">
          <%= render 'favorites/like_button', article: @article %>
        </div>
      <% end %>
    </div>
  
    <p class="border-bottom text-center"><%= @article.heading %></p>
    
    <dl class="px-5">
      <% case @article.kind %>
      <% when 'band' %>
        <dt class="text-left font-weight-normal">募集性別</dt>
        <dd class="pl-3 border"><%= @article.gender %></dd>
        <dt class="text-left font-weight-normal">募集年齢</dt>
        <dd class="pl-3 border"><%= @article.minimum_age %>〜<%= @article.maximum_age %></dd>
        <dt class="text-left font-weight-normal">活動エリア</dt>
        <dd class="pl-3 border"><%= @article.area %></dd>
        <dt class="text-left font-weight-normal mt-3">募集パート</dt>
        <dd class="pl-3 border">
          <% unless @parts_of_band.empty? %>
            <%= @parts_of_band.join('、') %>
          <% else %>
            指定なし
          <% end %>
        </dd>
      <% when 'member' %>
        <dt class="text-left font-weight-normal">性別</dt>
        <dd class="pl-3 border"><%= @article.gender %></dd>
        <dt class="text-left font-weight-normal">年齢</dt>
        <dd class="pl-3 border"><%= @article.age %>歳</dd>
        <dt class="text-left font-weight-normal">活動エリア</dt>
        <dd class="pl-3 border"><%= @article.area %></dd>
        <dt class="text-left font-weight-normal mt-3">担当パート</dt>
        <dd class="pl-3 border">
          <% unless @parts_of_member.empty? %>
            <%= @parts_of_member.join('、') %>
          <% else %>
            指定なし
          <% end %>
        </dd>
      <% end %>
      
      <dt class="text-left font-weight-normal mt-3">記事内容</dt>
      <dd class="text-left pl-3 border"><%= @article.introduction %></dd>
      
    </dl>
      
    <% if @article.user.id == current_user.id %>
      <div class="text-center mt-4">
        <%= link_to '記事を編集', edit_article_path(@article), class: 'btn btn-success rounded-pill' %>
        <%= link_to '記事を削除', @article, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger rounded-pill ml-4' %>
      </div>
      <div class="text-center mt-4">
        <%= link_to 'ユーザプロフィールへ', current_user, class: 'btn btn-outline-info' %>
      </div>
    <% else %>
    	<div>投稿者</div>
    	<table class="table">
    	  <tbody>
    	    <%= render 'users/table_row', user: @article.user %>
    	  </tbody>
    	</table>
    <% end %>
 
    </div>
    
  </div>
</div>