<div class="container mt-4">
  
  <div class="text-center">
    <h1>プロフィールの編集</h1>
  </div>
  
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
  
      <%= form_with(model: @user, local: true) do |f| %>
      
        <%= render 'layouts/error_messages', model: f.object %>
        
        <div class="form-group">
          <%= f.label :image, 'アイコン画像' %>
          <%= f.file_field :image, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :name, 'アカウント名' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        
        <div class="form-group border-bottom">
          <%= f.label :gender, '性別' %><br/>
          <%= f.radio_button :gender, '男性', checked: true %>
          <%= f.label :gender, '男性', value: '男性' %>
          <%= f.radio_button :gender, '女性' %>
          <%= f.label :gender, '女性', value: '女性'%>
        </div>
        
        <div class="form-group border-bottom">
          <%= f.label :birthday, '生年月日' %>
          <%= f.date_select :birthday, include_blank: true, start_year: 1940, end_year: Time.current.year, use_month_numbers: true, date_separator: '/', class: 'form-control' %>
        </div>
        
        <div class="form-group border-bottom">
          <%= f.label :area, '活動エリア' %>
          <%= f.select :area,
            %w(指定なし 北海道 青森 岩手 宮城 秋田 山形 福島 茨城 栃木 群馬 埼玉 千葉 東京 神奈川 新潟 富山 石川 福井 山梨 長野 岐阜 静岡 愛知 三重 滋賀 京都 大阪 兵庫 奈良 和歌山 鳥取 島根 岡山 広島 山口 徳島 香川 愛媛 高知 福岡 佐賀 長崎 熊本 大分 宮崎 鹿児島 沖縄),
            :selected => '指定なし', class: 'form-control' %>
        </div>
        
        <div class="form-group border-bottom">
          <%= f.label :parts_ids, '担当パート' %><br/>
          <%= f.collection_check_boxes(:part_ids, Part.all, :id, :name) do |part| %>
          <%= part.label{ part.check_box + part.text }%>
          <% end %>
        </div>
        
        <div class="form-group">
          <%= f.label :introduction, '自己紹介文' %>
          <%= f.text_area :introduction, class: 'form-control' %>
        </div>
        
        
        <%= f.submit 'プロフィールを更新', class: 'btn btn-primary btn-block' %>
      <% end %>
      
    </div>
  </div>
  
</div>
