<div class="container mt-4">
  
  <div class="text-center">
    <h1>プロフィールの編集</h1>
  </div>
  
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
  
      <%= form_with(model: @user, local: true) do |f| %>
      
        <%= render 'layouts/error_messages', model: f.object %>
        
        <div class="form-group">
          <%= f.label :image, 'アイコン画像' %>
          <%= f.file_field :image, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :name, 'アカウント名' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        
        <div class="form-group border-bottom">
          <%= f.label :gender, '性別' %><br/>
          <%= f.radio_button :gender, '男性', checked: true %>
          <%= f.label :gender, '男性', value: '男性' %>
          <%= f.radio_button :gender, '女性' %>
          <%= f.label :gender, '女性', value: '女性'%>
        </div>
        
        <div class="form-group border-bottom">
          <%= f.label :birthday, '生年月日' %>
          <%= f.date_select :birthday, include_blank: true, start_year: 1940, end_year: Time.current.year, use_month_numbers: true, date_separator: '/', class: 'form-control' %>
        </div>
        
        <div class="form-group border-bottom">
          <%= f.label :area, '活動エリア' %>
          <%= f.select :area, ['指定なし', '北海道'], class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :introduction, '自己紹介文' %>
          <%= f.text_area :introduction, class: 'form-control' %>
        </div>
        
        
        <%= f.submit 'プロフィールを更新', class: 'btn btn-primary btn-block' %>
      <% end %>
      
    </div>
  </div>
  
</div>
