<div class="container mt-4">
  
  <div class="text-center">
    <h1>新規登録</h1>
  </div>
  
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
  
      <%= form_with(model: @user, local: true) do |f| %>
      
        <%= render 'layouts/error_messages', model: f.object %>
        
        <div class="form-group">
          <%= f.label :name, 'アカウント名' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
  
        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
  
        <div class="form-group">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
  
        <div class="form-group">
          <%= f.label :password_confirmation, 'パスワード(確認)' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :gender, '性別' %><br/>
          <%= f.label :man, '男性' %>
          <%= f.radio_button :gender, :man, checked: true %>
          <%= f.label :woman,'女性'%>
          <%= f.radio_button :gender, :woman %>
        </div>
        
        <div class="form-group">
          <%= f.label :birthday, '生年月日' %>
          <%= f.date_select :birthday, include_blank: true, start_year: 1940, end_year: Time.current.year, use_month_numbers: true, date_separator: '/', class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :area, '活動エリア' %>
          <%= f.select :area, {選択してください: 0, 北海道: 1}, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :part, '担当パート' %><br/>
          <%= f.text_field :part, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :introduction, '自己紹介文' %>
          <%= f.text_area :introduction, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :image, 'アイコン画像' %>
          <%= f.file_field :image, class: 'form-control' %>
        </div>
  
        <%= f.submit 'Sign up', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
  
</div>
