<% @entries.each do |e| %>
  <% unless e.user.id == current_user.id %>
    <h2 class="text-center my-4"><%= link_to e.user.name, e.user %>さんとのメッセージ</h2>
  <% end %>
<% end %>

<div class="row">
  <div class="col-sm-8 offset-sm-2">
    
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <% if m.user.id == current_user.id %>
          <div class="media mb-4">
            <div class="media-body">
              <p class="bg-light mt-4 mr-2 ml-5 p-3 border rounded-left rounded-bottom"><%= m.content %></p>
            </div>
            <% if m.user.image? %>
              <%= image_tag m.user.image.url, class: "rounded img-fluid mx-auto", width: '100px' %>
            <% else %>
              未設定
            <% end %>
          </div>
        <% else %>
          <div class="media mb-4">
            <% if m.user.image? %>
              <%= image_tag m.user.image.url, class: "rounded img-fluid mx-auto", width: '100px' %>
            <% else %>
              未設定
            <% end %>
            <div class="media-body">
              <h6 class="ml-2"><%= m.user.name %></h5>
              <p class="bg-light ml-2 p-3 border rounded-right rounded-bottom"><%= m.content %></p>
            </div>
          </div>
        <% end %>
    <% end %>
    <% else %>
      <h5 class="text-center">メッセージはまだありません</h5>
    <% end %>
    
    <div class="border-top pt-4">
      <%= form_for @message do |f| %>
      <%= f.text_field :content, placeholder: 'メッセージを入力して下さい', autofocus: true, size: 90 %>
      <%= f.hidden_field :room_id, :value => @room.id %>
      <div class="text-center mt-3">
        <%= f.submit 'メッセージを送る', class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
    
    <div class="text-center mt-4">
      <%= link_to "メッセージ一覧に戻る", rooms_path %>
    </div>
  </div>
</div>